<!DOCTYPE html>
<html ng-app="myApp" ng-controller="common_ctrl" >

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="main.css">
<script src="main.js"></script>
<style>

</style>
<body ng-controller="myCtrl">
    <div ng-include='"header.html"' ></div>
    
    <div style="font-size: 40px; margin-top: 100px;text-align: center;" >This is home page</div>

    <input ng-model='y' >
    <button ng-click='f()' >Button...</button>

<script>

app.controller('myCtrl', function($scope) {
   $scope.login_var=false
   console.log($scope.messages)
   $scope.y = "Test Toast Content" 
   $scope.f = function() {
   		$scope.my_alert($scope.y)
   }

});
</script>
</body>
</html>
