<!DOCTYPE html>
<html ng-app="myApp" ng-controller="common_ctrl" >
<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="main.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="main.js"></script>

<style>
	
div.hsplit:after {
content: "";
clear: both;
display: table;
}

div.hsplit > div {
	float: left;
}
button:disabled {
  background: #ddd;
}

</style>
</head>
<body  ng-controller="myCtrl" >

	<div ng-include='"header.html"' ></div>
	
	<div class="login_main_div">
		<div class="login_header">Login</div>
		<div class=" login_header_down_div">
			<div class="email_password_full_div">
				<div class="email_password_name_div"
				>Email</div>
				<div>
					<input class="email_password_input_div" type="text" name="name" ng-model="email">
				</div>
			</div>
			<div class="email_password_full_div">
				<div class="email_password_name_div">Password</div>
				<div>
					<input class="email_password_input_div" type="password" name="name" ng-model="password">
				</div>
			</div>
		</div>
		<div class="login_button_div btn btn-primary active">
			<img src="https://i.gifer.com/ZZ5H.gif" style="width:15px; color:blue;margin: 2px;vertical-align: middle; " ng-if="is_login_disabled==true">
			<button class="login_button" ng-click=login() ng-disabled="is_login_disabled">Login</button>
		</div>
	</div>
<script>
app.controller('myCtrl', function($scope,$http) {
	s = $scope
	$scope.email="sonu2313saini@gmail.com"
	$scope.password="123"
	
	$scope.login=function(){
		$scope.is_login_disabled=true
		api($http, '/login', { "email":$scope.email, "password":$scope.password }, function(backend_output){
			$scope.is_login_disabled=false
			if("error" in backend_output){
				$scope.my_alert(backend_output.error)
			}
			else{
				$scope.my_alert("Login ho gya !")
				window.location.href = "product_page.html"
			}
		})

	}

});
</script>
</body>
</html>