<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="main.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="load_store.js"></script>
<style>
	
div.hsplit:after {
content: "";
clear: both;
display: table;
}

div.hsplit > div {
	float: left;
}

</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl" >
	<div ng-include='"header.html"' ></div>

	<div class="hsplit bigest_div" style="">
		<div class="scroll_div" style="border:solid black 1px;">
			<div class="margin_15" style="border:solid black 1px; padding-right:  35px;">
				<div class="font_weight"> Color</div>
				<div class="margin_5" ng-repeat="x in color">
					<input type="checkbox">{{x}}
				</div>
			</div>
		</div>
		<!-- <div style="width:100px;border:solid yellow 1px;  ">hhhh</div> -->
		<!-- ###### -->
		<div class="image_detail_div" style="">
			<div class="hsplit big_div">
				<div ng-repeat="x in list" class=" col-xs-12 col-sm-6 col-lg-4 box_sizing">
					<div class="border" style="">
						<div class="discount_div ">{{x.discount}}%</div>
						<a href="http://0.0.0.0:5502/single_product_page.html?product_id={{x.id}}">
							<div style="height: 250px; text-align: center; overflow: hidden; vertical-align: middle; white-space: nowrap;" >
								<span style="vertical-align: middle;height: 100%; display: inline-block; visibility: hidden;" ></span>
								<img style="max-height: 250px; max-width: 100%; vertical-align: middle" src="{{x.image}}" >
							</div>
						</a>
						<div  class="product_detail_div " >
							<!-- <div class="padding_10"><img style='width:90%' src="{{x.image}}" > </div> -->
							<div style="overflow: hidden;
          						text-overflow: ellipsis; white-space: nowrap; ">
      							{{x.name}}
      						</div>
							<div > {{x.product_quantity}}</div>
							
							<div class="hsplit" style="">
								<div  class="price_in_product_detail" >
									<span style="font-size: 15px;">₹</span> {{x.price}}</div>
								<div class=" add_cart" style="float:right;" ng-if='x.product_quantity == 0'  ng-click="add_product_quantity(x)">Add To Cart</div>

								<div class="hsplit add_remove_comman_div" style="float:right;" ng-if="x.product_quantity > 0" >
									<div >
										<span class="material-icons add_remove_class margin_right_5" ng-click="remove_product_quantity(x)" >
										remove_circle_outline
										</span>
									</div>
									<div class="add_number">
										<span >{{x.product_quantity}}</span>
									</div>
									<div >
										<span class="material-icons add_remove_class margin_left_5" ng-click="add_product_quantity(x)" >
										add_circle_outline
										</span>
									</div>
								</div>	
							</div>
						</div>
					</div>
				 </div>
			 </div>
			 <div style="height: 200px;" ></div>
		</div>
	</div>
<script>

var api = function(http, api_url, input, callback) {
  input = input || {}
  return http({
    method: "POST",
    url: api_url,
    headers: {'Content-Type': 'application/json'},
    data: input}).then(callback ? function(d) {
  		callback(d.data)} : callback);
}


var app = angular.module('myApp', [])
app.controller('myCtrl', function($scope,$http) {

	s = $scope

	$scope.color=["red","blue","yellow","green"]

	
	api($http,'/all_products', {},function(backend_output) {
		$scope.list = backend_output
	})

$scope.add_product_quantity=function(p) {
	p.product_quantity += 1
	api($http, '/add_product_quantity',{"product_id": p.id, "product_quantity": p.product_quantity})
}

$scope.remove_product_quantity=function(p){
	p.product_quantity -= 1
	api($http, '/add_product_quantity',{"product_id": p.id, "product_quantity": p.product_quantity})
}

});
</script>
</body>
</html>